<%- include("partials/header.ejs") %>
  <body>
    <div class="main-container">
      <% books.forEach(book => { %>
      <div class="card" id="<% book.id %>">
        <h1><%= book.title %></h1>
        <h2><%= book.author %></h2>
        <p><%= book.description %></p>
      </div>
      <% }); %>
    </div>
  </body>
</html>
