<%- include("partials/header.ejs") %>


<body>
    <form action="/login" method="post">
        <label for="userName">Username</label>
        <input type="text" name="username" id="username">
        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
</body>
</html>